@import url("https://fonts.googleapis.com/css2?family=Inter&family=Inter+Tight:wght@300&family=Outfit:wght@500&family=Oxygen&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  height: 100vh;
  background-color: #f0f0f0;
  background: url("../assets/premier-league-logo.png") no-repeat;
  background-position-x: left;
  background-position-y: bottom;
  overflow: hidden;
}

#root {
  height: 100vh;
}
